@import "../../assets/scss/helps/_base";

:host {
  nav {
    text-align: right;
    a {
      margin: 10px;
      border-bottom: 2px solid $white-color;
      &.active {
        color: $active-color;
        border-bottom: 2px solid $active-color;
      }
    }
  }
}

