/**
 * User: sofia
 * Date: 2018/1/18
 * Description:
 */
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xl: 20px;
$font-size-xxl: 22px;
$font-size-xxxl: 24px;

$white-color: #ffffff;
$black-color: #000000;
$default-color: #324D5C;
$primary-color: #46B29D;
$waring-color: #F0CA4D;
$active-color: #E37B40;
$danger-color: #F53855;
