/**
 * User: sofia
 * Date: 2018/1/19
 * Description:
 */
.modal {
  background: #00000069;
  position: fixed;
  top: 0;
  left: 0;
  .modal-content {
    width: 300px;
    background: #fff;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    border-radius: 4px;
    padding: 10px;
  }
}
